<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rise.rpp-product-delivery-dispatcher</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>-s</string>
    <string>/Users/nob/Projects/rpp-8am-notify/deploy_worker_runtime.py</string>
    <string>--run-scheduler-dispatcher</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/nob</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>RPP_PROJECT_DIR</key>
    <string>/Users/nob/Projects/rpp-8am-notify</string>
    <key>RPP_EVENT_DISPATCHER</key>
    <string>1</string>
    <key>PYTHONNOUSERSITE</key>
    <string>1</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/nob/Projects/rpp-8am-notify/rpp_apply_logs/rpp_product_delivery_dispatcher.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/nob/Projects/rpp-8am-notify/rpp_apply_logs/rpp_product_delivery_dispatcher.stderr.log</string>
</dict>
</plist>
